# Environment
.env
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# PyInstaller
build/
dist/
*.spec

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Output files
*.xlsx
!.env.example

# Logo
*.png
*.jpg
*.jpeg
